.noblocksizing {
    
}
.profile-button-ms {
    background-color: #666676;
    opacity: 60%;
    color:white;
    border-radius: 8px;
    width: 20%;
    height:20%;
    box-shadow:none;
    font-weight:bold;
    text-align:center;
}
    .profile-button-ms:hover {
        color: white;
        background-color: #56c676;
        box-shadow: none;
    }
.profile-button-edit {
    background-color: #666676;
    opacity: 60%;
    color: white;
    border-radius: 8px;
    width: 40%;
    height: 5%;
    box-shadow: none;
    font-weight: bold;
    text-align: center;
}
.profile-button-edit:hover {
    color: white;
    background-color: #26b6b6;

}

/*.banner {
    border: 2px solid blue;
    position: fixed;
    width: 1343px;
    height: 194px;
    bottom: 711px;
    top: 517px;
    right: 1431;
}*/



