@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layoutpage";
}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%;  " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px;" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%; " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px;" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%; " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px;" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%; " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px;" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%; " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:300px;" data-scrollax-parent="true">
                <a href="portfolio.html" class="image" style="background-image: url('images/work-1.jpg'); width: 100%; " data-scrollax=" properties: { translateY: '-20%'}">
                </a>
            </div>
        </div>





        <!-- <div class="profile-infomation">

        </div> -->
    </div>
    <div class="row mt-5">
        <div class="col text-center">
            <div class="block-27">
                <ul>
                    <li><a href="#">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&gt;</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</section>