@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layoutpage";
}
<main role="main" class="pb-3" style="margin-top: 150px; width: 80vw;">

    <section class="ftco-section">
        <div class="row" style="width:100%">
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height:200px; width:30%;" data-scrollax-parent="true">
                <div class="row">
                    <a href="portfolio.html" class="image col-12" style="background-image: url('images/work-1.jpg'); width: 100%;height: 120%; ">
                    </a>
                    <h1 class="row col-12" style="word-wrap: break-word; margin:30px 0px 0px 0px; font-size:36px; padding :0;">Minh tân 3 hương</h1>
                </div>
            </div>
            <div class="col-6 block-3 d-md-flex ftco-animate" style="height:70px; width:60%;" data-scrollax-parent="true">
                <div class="row" style="width:100%">
                    <div class="field " style=" width:100%; ">
                        <form>
                            <div class="control">
                                <textarea class="textarea is-medium" placeholder="Send your message" style="min-height:100px;"></textarea>
                                <button class="button is-primary is-inverted is-medium" style="margin: 5px; float:right;">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-3 block-3 d-md-flex ftco-animate" style="height: 500px; width: 30%;" data-scrollax-parent="true">

                <div class="col-12" style="margin: 5px; border: ">
                    <h2 class="subtitle is-2" style="text-align:center;">Mine novels</h2>
                   

                        <div class="box row" style=" height:70px;">
                            Tắt đèn
                        </div>
                        <div class="box row" style=" height:70px;">
                            Làm đĩ
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main