@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layoutpage";
}
<main role="main" class="pb-3" style="margin-top: 150px; width: 80vw; height:1200px;">

    <section class="ftco-section">
        <div class="row" style="width:100%">
            <div class="col-3 block-3  ftco-animate" style="height:300px; width:30%;" data-scrollax-parent="true">
                <div class="row" style="width:100%;">
                   
                    <div class="block">
                        <a href="portfolio.html" class="image col-12" style="background-image: url('images/work-1.jpg'); width: 100%;height: 120%; ">
                        </a>
                        <h1 class="subheading" style="word-wrap: break-word; margin:30px 0px 0px 0px; font-size:36px; padding :0; width: 100%">Minh tân aaaaaaaaaaa</h1>
                        <p class="subheading" style="word-wrap: break-word; margin: 15px 0px 0px 0px; padding: 0; width: 100%; font-style: italic; ">tu tiên không khẩu nghịp nghịp là tao quýnh chết </p>

                        <a type="button" class="button is-primary is-outlined is-fullwidth" style="margin-top:15px;">Edit profile</a>
                      
                    </div>

                </div>
               
            </div>
            <div class="col-6 block-3  ftco-animate" style="height:1000px; width:60%; " data-scrollax-parent="true">
                <div class="row" style="width:100%">

                    <form style=" width: 100%;">
                        <div class="control " style=" width: 100%;">
                            <textarea class="textarea is-medium " placeholder="Send your message" style="min-height:100px;"></textarea>
                            <button class="button is-primary is-inverted is-medium" style="margin: 5px; float:right;">Send</button>
                        </div>
                    </form>

                    <!--comment block-->
                    <div class="block" style="width: 100%;">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>Minh Tân</strong>
                                        <br>
                                      Phương ăn cứt
                                        <br>
                                        <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                                    </p>
                                </div>

                                <article class="media">
                                    <figure class="media-left">
                                        <p class="image is-48x48">
                                            <img src="https://bulma.io/images/placeholders/96x96.png">
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Phương ăn cứt thật</strong>
                                                <br>
                                               tao không ăn cứt
                                                <br>
                                                <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
                                            </p>
                                        </div>

                                       
                                    </div>
                                </article>

                               
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-3 block-3  ftco-animate" style="height: 500px; width: 30%;" data-scrollax-parent="true">

                <div class="col-12" style="margin: 5px; border: ">
                    <h2 class="subtitle  is-2" style="text-align:center;">Mine novels</h2>
                   

                        <div class="box row" style=" height:70px;">
                            Tắt đèn
                        </div>
                        <div class="box row" style=" height:70px;">
                            Làm đĩ
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main