@model Login_viewmodel;
@{
    var customstyle = "";
    if (!(bool)ViewData["Islogin"])
    {
        customstyle = "margin-left: -50%;";

    }
}

<form class="login" method="post" style="@customstyle asp-controller=" Authentication" asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="field">
        <input type="text" placeholder="User Name" asp-for="UserName">
    </div>
    <span class="text-danger" asp-validation-for="UserName"></span>
    <div class="field">
        <input type="password" placeholder="Password" asp-for="Password">
    </div>
    <span class="text-danger" asp-validation-for="Password"></span>
    <div class="pass-link">
        <a href="#">Forgot password?</a>
    </div>
    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value="Login">
    </div>
    <div class="field ">
        <div class="row">
            <div class="col-md-3" style=" max-width: 100%; margin : auto;">
                <a class="btn btn-outline-dark" href="@Url.Action("ExternalLoginGoogle","Authentication", new{ returnUrl =Url.Action("Getme","Profile")})" role="button" style="text-transform:none">
                    <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>
    </div>
    <div class="signup-link">
        Not a member? <a href="">Sign up now</a>
    </div>
</form>