@{

    ViewData["Title"] = "Sumary";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="fixed is-flex is-flex-direction-column is-justify-content-center is-align-content-center is-align-items-center is-flex-wrap-wrap">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <div class="buttons are-medium">

                    <a class="button toDashBoard" id="todashboardButtonSideBar">

                        <i class="fas fa-tachometer-alt"></i>
                    </a>
                </div>
                <p class="sidebar-title">Dashboard</p>
            </div>
        </div>
    </nav>
    <nav class="level">
        <div class="level-item has-text-centered ">

            <div>
                <div class="buttons are-medium ">
                    <a class="button" id="toEpisodeButtonSideBar">
                        <i class="fas fa-bars is-white"></i>
                    </a>
                </div>
                <p class="sidebar-title" id="toEpisodeTitleSideBar">Episodes</p>
            </div>
        </div>
    </nav>
</div>

<div class="container dashboard" style="margin-bottom:200px; margin-left:60px">
</div>

<script src="~/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
        $.ajax({
            url: "@(Url.Action("getDashBoard", "Dashboard"))",
            dataType: 'html'
            , success: function (result) {
                $('.dashboard').html(result);
            }
            , error: function () {
                alert("something wrong");
            }
        });
        $(".toDashBoard").click(function () {
            $.ajax({
                type: "GET",
                url: "@(Url.Action("getDashBoard", "Dashboard"))",
                success: function (data) {
                    $(".dashboard").html('');
                    $(".dashboard").html(data);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve books.');
                }
            });
        });
        $("#toEpisodeButtonSideBar").on("click", function (e) {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("GetEpDashboard", "Dashboard"))",

                success: function (data) {
                    $(".dashboard").html('');
                    $(".dashboard").html(data);
                    $('select').trigger("change");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Episodes.');
                }
            })
        });
</script>