@using WebTruyenTranhDataAccess.Models;
@model Profile;
    <div class="replyform-particalview">
        <article class="media">
            <figure class="media-left">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="@Model.Avartar">
                </p>
            </figure>
            <div class="media-content">
                <strong>@Model.DisplayName </strong>
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" name="Content" maxlength="1000" required></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button">Reply</button>
                    </p>
                </div>
            </div>
        </article>
    </div>