@using WebTruyenTranhDataAccess.Models;
@model Profile;
    <div class="replyform-particalview">
        <article class="media">
            <figure class="media-left">
           
                <p class="image is-64x64" >
                    <img src="@Model.Avartar"  style="height:100%; width:100%; border-radius:50%">
                </p>
            </figure>
            <div class="media-content">
                <strong>@Model.DisplayName </strong>
                <div class="field">
                    <p class="control">
                        <textarea class="textarea " name="Content" maxlength="1000" required></textarea>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button profile-button-ms" style="width: 25%">Reply</button>
                    </p>
                </div>
            </div>
        </article>
    </div>