@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<div class="columns request-containner">
    <div class="column is-6">
        <p style="margin:15px 0 15px 0;">100 Result</p>
        <ul>
            <li>
                <a class="columns">
                    <div class="column is-3 ">

                        <div class="image-flash item_wrap">
                            <figure><img style="border-radius:5px;" src="https://d30womf5coomej.cloudfront.net/sa/69/3b1124c5-f877-4e3b-9e24-0ad3932c7922_z.jpg" /></figure>

                        </div>
                    </div>
                    <div class="column is-6 item_detail">
                        <p class="item_title">
                            Trọng sinh làm đĩ
                        </p>

                        <p class="item_info">
                            <span class="G-item">fantasy</span>
                            <span class="G-item cachder">|</span>
                            100 likes
                        </p>
                    </div>
                </a>
            </li>
            <li>
                <a class="columns">
                    <div class="column is-6">
                        <div class="image-flash item_wrap">
                            <figure><img style="border-radius:5px;" src="https://d30womf5coomej.cloudfront.net/sa/69/3b1124c5-f877-4e3b-9e24-0ad3932c7922_z.jpg" /></figure>

                        </div>
                    </div>
                    <div class="column">
                        <p></p>
                    </div>
                </a>
            </li>
            <li>
                <a class="columns">
                    <div class="column is-3">
                        <div class="image-flash item_wrap">
                            <figure><img style="border-radius:5px;" src="https://d30womf5coomej.cloudfront.net/sa/69/3b1124c5-f877-4e3b-9e24-0ad3932c7922_z.jpg" /></figure>

                        </div>
                    </div>

                </a>
            </li>

        </ul>
    </div>


</div>
