
@{
    ViewData["Title"] = "CreateNovels";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}

<link href="/css/styleCreateNovels.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" rel="stylesheet" />

<main>
    <section>
        <div class="form-group">
            <div class="form_item">
                <div class="form_item_header">
                    <div class="header">
                        <b> Title</b>
                    </div>
                </div>
                <div class="item_info">
                    <input class="input is-rounded" type="text" maxlength="100" placeholder="Enter your title" style="height:62px">
                    <div class="input_desc">
                        <span class="desc_counter">
                            <span class="js-counter">0</span>/100
                        </span>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form_item">
                <div class="form_item_header">
                    <div class="header">
                        <b> Description</b>
                    </div>
                </div>
                <div class="item_info">
                    <input class="input is-rounded" type="text" maxlength="100" placeholder="Enter your descripton" style="height:62px">
                    <div class="input_desc">
                        <span class="desc_counter">
                            <span class="js-counter">0</span>/1000
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form_item_header">
                <div class="header">
                    <b> Thumbnail</b>
                </div>
            </div>
            <div class="imgThumbnail" >
                <img src="https://d30womf5coomej.cloudfront.net/resources/images/some/tapamon-artist.png" alt="thumbnail" width="100">
            </div>
            <div class="item_info_thumbnail">
                <form class="form_thumbnail" action="#" method="POST">
                    <input class="input_thumbnail" type="file" multiple>
                    <img src="https://cdn.discordapp.com/attachments/751417489262641226/866892583992688670/clouduploadfilestorageuploadicon-1320190558968694328.png" alt="" />
                    <p>Drag or click here.</p>
                    <button class="btn_upload" type="submit">Upload</button>
                </form>
            </div>

        </div>

        @*<div class="dashboard__tip">
            <p class="tip tip__title">
                    <span class="ico-mini ico-mini--ink ico-mini--right">
                        <i class="ico sp-ico-info-wht-xs"></i>
                    </span>
                    "Not an artist?"flex
            </p>
            <p class="tip tip__desc">
                "Not an artist? Try using a royalty free image, working with a comic creator from the Tapas community, or creating your own with "
            </p>
            <div class="tip-thumbnail-tapamon">*@
               
            @*</div>
        </div>*@
            

        <div class="form_group_bookcover">
            <div class="form_item_header">
                <div class="header">
                    <b> Bookcover</b>
                </div>
            </div>
            <div class="imgBookcover">
                <img src="https://d30womf5coomej.cloudfront.net/resources/images/some/tapamon-bookcover.png" alt="book-cover" width="396">
            </div>

            <div class="item_info_bookcover">
                <form class="form_bookcover" action="#" method="POST">
                    <input class="input_bookcover" type="file" multiple>
                        <img src="https://cdn.discordapp.com/attachments/751417489262641226/866892583992688670/clouduploadfilestorageuploadicon-1320190558968694328.png" alt="" />
                         <p>Drag or click in this area.</p> 
                       <button class="btn_upload_bookcover" type="submit">Upload</button>
                </form>
            </div>
        </div>


        <div class="form_group_banner">
            <div class="form_item_header">
                <div class="header">
                    <b> Banner</b>
                </div>
            </div>
                <div class="item_info_banner">
                    <form class="form_banner" action="#" method="POST">
                        <input class="input_banner" type="file" multiple>
                        <img src="https://cdn.discordapp.com/attachments/751417489262641226/866892583992688670/clouduploadfilestorageuploadicon-1320190558968694328.png" alt="" />
                        <p>Drag your files here or click in this area.</p>
                        <button class="btn_upload_banner" type="submit">Upload</button>
                    </form>
                </div>
            </div>
</section>
</main>
<script>
    $(document).ready(function () {
        $('form input').change(function () {
            $('form p').text(this.files.length + " file(s) selected");
        });
    });
</script>