@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="level">
    <div class="level-left"></div>
    <div class="level-right">
        <p class="level-item"><strong>All</strong></p>
        <p class="level-item"><a>Published</a></p>
        <p class="level-item"><a>Drafts</a></p>
        <p class="level-item"><a>Deleted</a></p>
        <p class="level-item"><a class="button is-success">New</a></p>
    </div>
</nav>
<table class="table is-striped">
    <thead>
        <tr>
            <th><abbr title="Episode">Episode</abbr></th>
            <th><abbr title="info">Thumbnail / Episode info</abbr></th>
            <th><abbr title="Status">Status</abbr></th>
            <th><abbr title="Actions">Actions</abbr></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><abbr title="Episode">Episode</abbr></th>
            <th><abbr title="info">Thumbnail / Episode info</abbr></th>
            <th><abbr title="Status">Status</abbr></th>
            <th><abbr title="Actions">Actions</abbr></th>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>1</th>
            <td>

                <div class="columns ">
                    <div class="column is-one-fifth ">
                        <div style="width:50px;height:50px;margin-left: 30px">
                            <img src="https://d30womf5coomej.cloudfront.net/sa/b4/de28fede-cc7f-40f1-83e1-b1e01e1342e2.jpg" alt="testNovel">
                        </div>
                    </div>
                    <div class="column is-one-fifth ">
                        <div style="line-height:40px">
                            <p>test Novel</p>
                        </div>
                    </div>
                    <div class="column"></div>
                </div>
            </td>
            <td>38</td>
            <td>
                <div class="buttons">
                    <a class="button is-primary">Edit</a>
                    <a class="button is-danger"><i class="far fa-trash-alt fa-2x"></i></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>