
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bite-sized <strong>Stories</strong> on the go</h1>
            </div>
        </div>
    </div>
</div>
<div class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Team</span>
                <h2 class="mb-4">Our Team</h2>
                <p> 18DTHD3</p>
            </div>
        </div>
        <div class="row">
            <div class="col ftco-animate">
                <div class="block-10">
                    <div class="person-info mb-2">
                        <span class="name">Duong Nguyen Minh Tan</span>
                        <span class="position">STUDENT</span>
                    </div>
                    <img src="https://t3.ftcdn.net/jpg/03/36/19/66/360_F_336196621_40Uqvq8BYUIN9IPZB8F6P4smy1cYo4lj.jpg" alt="" class="img-fluid mb-3">
                    <p>Code: 1811063127</p>
                    <p>Bla bla bla bla bla bla</p>
                </div>
            </div>
            <div class="col ftco-animate">
                <div class="block-10">
                    <div class="person-info mb-2">
                        <span class="name">Nguyen Duy Dai</span>
                        <span class="position">STUDENT</span>
                    </div>
                    <img src="https://t3.ftcdn.net/jpg/03/36/19/66/360_F_336196621_40Uqvq8BYUIN9IPZB8F6P4smy1cYo4lj.jpg" alt="" class="img-fluid mb-3">
                    <p>Code: 1811062907</p>
                    <p>Bla bla bla bla bla bla</p>
                </div>
            </div>
            <div class="col ftco-animate">
                <div class="block-10">
                    <div class="person-info mb-2">
                        <span class="name">Nguyen Nguyen Phuong</span>
                        <span class="position">STUDENT</span>
                    </div>
                    <img src="https://t3.ftcdn.net/jpg/03/36/19/66/360_F_336196621_40Uqvq8BYUIN9IPZB8F6P4smy1cYo4lj.jpg" alt="" class="img-fluid mb-3">
                    <p>Code: 1811063092</p>
                    <p>Bla bla bla bla bla bla</p>
                </div>
            </div>
            <div class="col ftco-animate">
                <div class="block-10">
                    <div class="person-info mb-2">
                        <span class="name">Dam Thi Hong Huong</span>
                        <span class="position">STUDENT</span>
                    </div>
                    <img src="https://t3.ftcdn.net/jpg/03/36/19/66/360_F_336196621_40Uqvq8BYUIN9IPZB8F6P4smy1cYo4lj.jpg" alt="" class="img-fluid mb-3">
                    <p>Code: 1811062979</p>
                    <p>Bla bla bla bla bla bla</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <script src="~/js/particle.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}


