@{
    ViewData["Title"] = "Home Page";
}

<!-- <div class="js-fullheight"> -->
<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Bite-sized <strong>Stories</strong> on the go</h1>
            </div>
        </div>
    </div>
</div>
<!------------------------------------>
<div class="bg-light">
    <section class="ftco-section-featured ftco-animate">
        <div class="container-fluid" data-scrollax-parent="true">
            <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

                <div class="col-md-3 mb-3">
                    <a href="#" class="featured-img">
                        <div class="text-1 p-4 d-flex align-items-center">
                            <h3>The Amelia Six<br><span class="tag">NOVEL</span></h3>
                        </div>
                        <img src="https://1.bp.blogspot.com/-eiD4sQYDuuk/YM4-d5eD6eI/AAAAAAAAOMg/edQtA1fuMhk-fCS3LYvrFes9NCn6eA3kQCLcBGAsYHQ/w422-h640/816PtozmJCL.jpg" class="img-fluid" alt="">
                        <div class="text p-4 d-flex align-items-center">
                            <div class="user d-flex align-items-center">
                                <div class="user-img mr-3" style="background-image: url(https://www.takepayments.com/media/ujflbty2/bryony-pearce.jpg?anchor=center&mode=crop&width=495&height=378&rnd=132125981071730000);"></div>
                                <h3>Kristin L. Gray <br><span class="position">CREATOR</span></h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <div class="row no-gutters d-flex align-items-end">

                                <div class="col-md-8">
                                    <a href="#" class="featured-img">
                                        <div class="text-1 p-4 d-flex align-items-center">
                                            <h3>The Bad Mood and the Stick<br><span class="tag">NOVEL</span></h3>
                                        </div>
                                        <img src="https://i.pinimg.com/564x/7f/01/5c/7f015c77383e4939b18d9440471af9a4.jpg" class="img-fluid" alt="">
                                        <div class="text p-4 d-flex align-items-center">
                                            <div class="user d-flex align-items-center">
                                                <div class="user-img mr-3" style="background-image: url(https://i.pinimg.com/236x/f4/da/db/f4dadb1efa1ac343dc381ee1d79274f9.jpg);"></div>
                                                <h3>Lemony Snicket <br><span class="position">CREATOR</span></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-md-4">
                                    <a href="#" class="featured-img">
                                        <div class="text-1 p-4 d-flex align-items-center">
                                            <h3>LOST<br><span class="tag">NOVEL</span></h3>
                                        </div>
                                        <img src="https://i.pinimg.com/564x/89/32/a4/8932a45b9660dd828bf53096c2776132.jpg" class="img-fluid" alt="">
                                        <div class="text p-4 d-flex align-items-center">
                                            <div class="user d-flex align-items-center">
                                                <div class="user-img mr-3" style="background-image: url(https://i.pinimg.com/564x/a5/e9/9e/a5e99ecd090638056a786751b9314063.jpg);"></div>
                                                <h3>Universo DSilvia <br><span class="position">CREATOR</span></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row no-gutters d-flex align-items-start">
                                <div class="col-md-8">
                                    <a href="#" class="featured-img">
                                        <div class="text-1 p-4 d-flex align-items-center">
                                            <h3>THE CRYSTAL RIBBON<br><span class="tag">NOVEL</span></h3>
                                        </div>
                                        <img src="https://i.pinimg.com/564x/5a/a4/39/5aa439c3cd1a53d3d0501a0aed1e6657.jpg" class="img-fluid" alt="">
                                        <div class="text p-4 d-flex align-items-center">
                                            <div class="user d-flex align-items-center">
                                                <div class="user-img mr-3" style="background-image: url(https://i.pinimg.com/564x/47/c8/9d/47c89da69ee2bbfdbd192ac0e70029e8.jpg);"></div>
                                                <h3>Celeste Lim <br><span class="position">CREATOR</span></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="featured-img">
                                        <div class="text-1 p-4 d-flex align-items-center">
                                            <h3>Night Lights<br><span class="tag">NOVEL</span></h3>
                                        </div>
                                        <img src="https://i.pinimg.com/564x/5d/b2/78/5db27846882f8f77dd2965a488ab62b1.jpg" class="img-fluid" alt="">
                                        <div class="text p-4 d-flex align-items-center">
                                            <div class="user d-flex align-items-center">
                                                <div class="user-img mr-3" style="background-image: url(https://i.pinimg.com/564x/f7/e5/8c/f7e58cd514f2fe34a71364d9e31291a3.jpg);"></div>
                                                <h3>Lorena Alvarez <br><span class="position">CREATOR</span></h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <a href="#" class="featured-img">
                        <div class="text-1 p-4 d-flex align-items-center">
                            <h3>Voyage<br><span class="tag">NOVEL</span></h3>
                        </div>
                        <img src="https://i.pinimg.com/564x/9f/f1/57/9ff1577af38bbdfb4898a68af6ceb398.jpg" class="img-fluid" alt="">
                        <div class="text p-4 d-flex align-items-center">
                            <div class="user d-flex align-items-center">
                                <div class="user-img mr-3" style="background-image: url(https://i.pinimg.com/564x/06/2f/28/062f287e6ed35ac4afef443be46ecefc.jpg);"></div>
                                <h3>John Bruce <br><span class="position">CREATOR</span></h3>
                            </div>
                        </div>
                    </a>
                </div>
                <!------------------------------------>
            </div>
            <div class="row mt-5 d-flex justify-content-center">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="h1"><!---HE. is a---><strong class="px-3">STORIES WE LOVE <i class="icon icon-heart"></i></strong><!---is home to a creator community that has published 21,350 stories. We’re sure you’re going to find a story just for you on HE.!----></h2>
                </div>
            </div>
        </div>
    </section>
</div>
<!------------------------------------>
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
            </div>
            <div class="row">
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio.html" class="image" style="background-image: url('https://pbs.twimg.com/media/DmF19jmV4AULxsb?format=jpg&name=4096x4096'); " data-scrollax=" properties: { translateY: '-20%'}">
                    </a>
                    <div class="text">
                        <h4 class="subheading">Manda 🩸the returned🩸</h4>
                        <h2 class="heading"><a href="portfolio.html">Catauna Truna</a></h2>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                        <p><a href="portfolio.html" class="btn btn-primary px-4">READ MORE</a></p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio.html" class="image image-2 order-2" style="background-image: url('https://i.pinimg.com/564x/42/b5/be/42b5be66fcb2113dfccc827a9d7c1f6d.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text order-1">
                        <h4 class="subheading">🩸 Sarah Kuhn 🩸</h4>
                        <h2 class="heading"><a href="portfolio.html">Eat Your Heart Out</a></h2>
                        <p>Once upon a time, a beautiful princess lived in the magical kingdom of Los Angeles. Always alone, she belonged to no one—and no one belonged to her. She dreamed of one day finding someone who shared her passions, a handsome prince obsessed with monstrous mythical creatures and exploring all the weirdest corners of her kingdom.</p>
                        <p><a href="portfolio.html" class="btn btn-primary px-4">READ MORE</a></p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio.html" class="image" style="background-image: url('https://i.pinimg.com/564x/f4/71/3f/f4713f3a0efc7d1b8dea7c35c8e6ac58.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text">
                        <h4 class="subheading">🩸 DAN GEMEINHART 🩸 </h4>
                        <h2 class="heading"><a href="portfolio.html">COYOTE SUNRISE COVER REVEAL</a></h2>
                        <p>
                            Okay, folks. I’m gonna try to be calm about this. But, spoiler alert, I’m gonna fail at that.
                            I am so, so, so excited to finally start talking about my next book, THE REMARKABLE JOURNEY OF COYOTE SUNRISE. It comes out in early 2019, and even though I’m glad I’ve got the word “early” in there, it’s gonna be awful hard for me to wait that long to share this story with the world. But, for today, I’m over-the-top excited to be able to share the book’s beautiful cover here with the Nerdy Book Club.
                        </p>
                        <p><a href="portfolio.html" class="btn btn-primary px-4">READ MORE</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------->
<section class="ftco-section-parallax">
    <div class="parallax-img d-flex align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Subcribe to our Newsletter</h2>
                    <p>HE. is home to a creator community that has published 3,000 stories. We’re sure you’re going to find a story just for you!</p>
                    <div class="row d-flex justify-content-center mt-5">
                        <div class="col-md-6">
                            <form action="#" class="subscribe-form">
                                <div class="form-group">
                                    <a href="#"><span class="icon icon-paper-plane"></span></a>
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------->
<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-4">FOLLOW US NOWWWWWWW!</h2>
                <img src="https://media3.giphy.com/media/UmO1IuCwW14k/giphy.gif?cid=790b7611d3394c9c014770854e015683b27fb99f625bbecd&rid=giphy.gif&ct=g" alt="this slowpoke moves" width="250" />
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter" id="section-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <h2>Our achievements</h2>
                <p>Join hehdot the HE. Creator Community and share your work with millions of fans!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="400">0</strong>
                        <span>CREATORS</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="1000">0</strong>
                        <span>EPISODES</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="number" data-number="8000">0</strong>
                        <span> CREATORS PAID TO DATE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">NOVEL</span>
                <h2>Featured stories</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('https://i.pinimg.com/564x/30/c5/92/30c592e80cc50b9e61f274b12af512b7.jpg');">
                    </a>
                    <div class="text p-4 d-block">
                        <div class="meta mb-3">
                            <div><a href="#">July 12, 2020</a></div>
                            <div><a href="#">Hilarious</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 7</a></div>
                        </div>
                        <h3 class="heading"><a href="#">22 Hilarious Rom</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry" data-aos-delay="100">
                    <a href="blog-single.html" class="block-20" style="background-image: url('https://i.pinimg.com/564x/74/47/4f/74474f02fa0e76236a4ff2e908f1ef8b.jpg');">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-3">
                            <div><a href="#">January 23, 2021</a></div>
                            <div><a href="#">Kolik Forlag</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 9</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Alena</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry" data-aos-delay="200">
                    <a href="blog-single.html" class="block-20" style="background-image: url('https://i.pinimg.com/564x/c3/ce/d6/c3ced6c0444f98721b68f76c444eb1dd.jpg');">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-3">
                            <div><a href="#">July 3, 2020</a></div>
                            <div><a href="#">Jennifer Wilson</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Ashes</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <script src="~/js/particle.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>
}