
@{
    ViewData["Title"] = "Episode";
    Layout = "~/Views/Shared/_Layoutpage.cshtml";
}

<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="icon-times"></i>
    </div>
    <div class="sidebar-header">
        <!---book banner-->
        <img src="https://i.pinimg.com/564x/43/7f/4c/437f4c3c491ed78eeed5c80eeadae142.jpg" class="book-cover" alt="book banner" />
        <!---book cover-->
        <img src="https://i.pinimg.com/564x/43/7f/4c/437f4c3c491ed78eeed5c80eeadae142.jpg" class="thumb-image" alt="book cover" /><!----thumb image-->
        <!-----><h3 class="name mb-4">MIC DROP</h3>
        <div class="counter d-flex">
            <div class="col">
                <strong class="number-views">892 </strong>
                <span class="number-label">Views <i class="icon-eye"></i> </span>
            </div>
            <div class="col">
                <strong class="number-subcribers">56k</strong>
                <span class="number-label">Subcribers <i class="icon-subscriptions"></i></span>
            </div>
        </div>
    </div>
    <!--------DESCRIPTION-SUBCRIBERS------->
    <div class="bio">
        <p>
            King Grey has unrivaled strength, wealth, and prestige in a world governed by martial ability. However, solitude lingers closely..
            <a href="#">Read more</a>
        </p>
        <a href="#" class="btn btn-primary subcribers">Subscribers</a>
    </div>
    <!--------DESCRIPTION - SUBCRIBERS------->
    <!--------GENRES------->
    <div class="sidebar-box ftco-animate">
        <h3>#Genres</h3>
        <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">Action</a>
            <a href="#" class="tag-cloud-link">Fantasy</a>
            <a href="#" class="tag-cloud-link">Comedy</a>
        </div>
    </div>

    <!---episode-list-->
    <div class="activity">
        <div class="counter d-flex">
            <div class="col">
                <strong class="number-episodes">892</strong> Episodes
            </div>
            <div class="col">
                <a href="#"><i class="icon-sort-amount-asc"></i></a>
            </div>
        </div>
        <!--------sort------->

        <div class="side-inner episode-list">
            <ul class="list-unstyled">
                <li class="episode-list-number">
                    <a href="#" class="episode-number">
                        <img class="mr-3" style="width: 17%;float: left;" src="https://pbs.twimg.com/profile_images/1172294642488020992/-OOqo8B5_400x400.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Name Novel, Part 1</h5>
                            <p>Episode 12</p>
                        </div>
                    </a>
                </li>
                <li class="episode-list-number">
                    <a href="#" class="episode-number">
                        <img class="mr-3" style="width: 17%;float: left;" src="https://pbs.twimg.com/profile_images/1172294642488020992/-OOqo8B5_400x400.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Name Novel, Part 1</h5>
                            <p>Episode 12</p>
                        </div>
                    </a>
                </li>
                <li class="episode-list-number">
                    <a href="#" class="episode-number">
                        <img class="mr-3" style="width: 17%;float: left;" src="https://pbs.twimg.com/profile_images/1172294642488020992/-OOqo8B5_400x400.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Name Novel, Part 1</h5>
                            <p>Episode 12</p>
                        </div>
                    </a>
                </li>
                <li class="episode-list-number">
                    <a href="#" class="episode-number">
                        <img class="mr-3" style="width: 17%;float: left;" src="https://pbs.twimg.com/profile_images/1172294642488020992/-OOqo8B5_400x400.jpg" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">Name Novel, Part 1</h5>
                            <p>Episode 12</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content  -->
<div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="icon-align-left"></i>
                <span>Episode List</span>
            </button>
        </div>
    </nav>
    <main>
        <div class="site-section">
            <div class="container">
                <div class="title-header">
                    <p class="title-episode">Title Novel, Part 1</p>
                    <p class="date">Jul 28, 2021</p>
                </div>
                <hr>
                <div class="content-viewer">
                    <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>

                    <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>

                    <p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.</p>
                    <p>Odit voluptatibus, eveniet vel nihil cum ullam dolores laborum, quo velit commodi rerum eum quidem pariatur! Quia fuga iste tenetur, ipsa vel nisi in dolorum consequatur, veritatis porro explicabo soluta commodi libero voluptatem similique id quidem? Blanditiis voluptates aperiam non magni. Reprehenderit nobis odit inventore, quia laboriosam harum excepturi ea.</p>

                    <p>Adipisci vero culpa, eius nobis soluta. Dolore, maxime ullam ipsam quidem, dolor distinctio similique asperiores voluptas enim, exercitationem ratione aut adipisci modi quod quibusdam iusto, voluptates beatae iure nemo itaque laborum. Consequuntur et pariatur totam fuga eligendi vero dolorum provident. Voluptatibus, veritatis. Beatae numquam nam ab voluptatibus culpa, tenetur recusandae!</p>
                    <p>Voluptas dolores dignissimos dolorum temporibus, autem aliquam ducimus at officia adipisci quasi nemo a perspiciatis provident magni laboriosam repudiandae iure iusto commodi debitis est blanditiis alias laborum sint dolore. Dolores, iure, reprehenderit. Error provident, pariatur cupiditate soluta doloremque aut ratione. Harum voluptates mollitia illo minus praesentium, rerum ipsa debitis, inventore?</p>
                </div>
                <!-----COMMENT LIST---->
                <hr />
                <div class="pt-5 mt-5">
                    <h3 class="mb-5">6 Comments</h3>
                    @* comment  *@
                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5">Leave a comment</h3>
                        <form action="#" class="p-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*end container*@
    </main>
</div>